<html>
    <head>
        <title>Just A Blog</title>
    </head>
    <body>
      <h1><a href="">Just Girly Things</a></h1>
        <div>
            <h2><a href=""Just Girly Things</a></h2>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h3><a href="">Just Short Inspirational Quotes</a></h3>
            <p>Live, laugh, love.</p>
            <p>Keep calm and carry on.</p>
            <p>Everything happens for a reason.</p>
            <p>Live every day like it's your last.</p>
            <p>If life gives you lemons, make lemonade.</p>

        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h3><a href="">Just Inspirational Quotes</a></h3>
            <p>Sing like no one is listening. Love like you've never been hurt. Dance like nobody is watching.</p>
            <p>Shoot for the moon. Even if you miss, you'll land among the stars.</p>
            <p>You have to kiss a lot of frogs before you find your prince.</p>
        </div>
    </body>
</html>
